.messages{
  height: 400px;
  width: 600px;
  color: #fff ;
  background-color: gray;

  max-height: 100vh - 20px;
  overflow-y: auto;
}

.messages ul li {
  list-style-type: none !important;
}


#inputContainer {
  border: 1px solid gray;
  display: inline-block;
  vertical-align: top;
}
