.messages{
  height: 400px;
  width: 100%;
  color: #fcfcff ;
  background-color: rgb(40, 85, 211);

  max-height: 100vh - 20px;
  overflow-y: auto;
}

.messages ul li {
  list-style-type: none !important;
}


#inputContainer {
  border: 1px solid gray;
  display: inline-block;
  vertical-align: top;
}
